/* general reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

/* nav background */

.background {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .container-nav */
.container-nav {
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-nav #logo {

    flex-grow: 1;
    padding: 1rem;
    margin-top: 1rem;



}

.container-nav #links {

    flex-grow: 4;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    color: white;


}

.white-button1 {

    background-color: white;
    border-radius: 4rem;
    padding: 0.5rem 1rem;
    margin-left: 8rem;

}

/* /.container-nav */

/* banner background + container*/
.debug #banner-bg {


    display: flex;
    justify-content: center;

}

.container-ban {
    
    width: 985px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    margin: 5rem;

}

h1 {margin: 0rem 1rem 1rem 1rem;
    font-size: 60px;
    color: white;

}

.container-ban p {
    margin-bottom: 4rem;
    font-size: 24px;
    color: white;
    text-align: center;
}

#inner-container {
    display: flex;
    flex-direction: row;
    
}

#white-button2 {
    font-size: 20px;
    padding: 0.8rem 2rem;
    background-color: white;
    border-radius: 4rem;
    margin: 0 2rem;
}

#black-button {
    font-size: 20px;
    padding: 0.8rem 2rem;
    background-color: #2F3136;
    color: white;
    border-radius: 4rem;
}

/* /.banner-bg HEADER END */

/* MAIN START */


/* bg-white */
.bg-white{
    padding-top: 4rem;
    padding-bottom: 2rem;
}

/* bg-grey */
.bg-grey {
    padding: 4rem 0rem;
    background-color: #f6f6f6;
}

svg path {
    fill: #f6f6f6;
}

.wave-1hkxOo {
    width: 100%;
    position:relative;
    top: 2.4rem; 
}


    
/* first and third container with bg-white */
.container-main {
    width: 1300px;
    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
main h2 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
}

main p {
    font-size: 1.3rem;
}

#big-container {
    flex-direction: column;
}

#big-height {
    height: 40%;
}

#big-container img {
    width: 100%
}

#big-container p {
    text-align: center;
}

#big-container h3 {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2rem;
    padding: 1rem 2rem;
}

button {
    font-size: 20px;
    margin: 1rem;
    padding: 0.8rem 2rem;
    background-color: #8ea1e1;
    color: white;
    border-radius: 4rem;
    border: none;
}

/* End of 4 section     */

/* footer height and bg */
#app_footer {
    
    background-color: #23272a;
}

/* footertop */
#foot_top {
    width: 1300px;
    height: 90%;
    margin: auto;
    display: flex;
    margin-bottom: 4rem;
}

.left h3 {

    margin: 1rem 0rem;
    font-size: 3rem;
    color: #8ea1e1;
}

.left img {
    height: 3%;
    margin-top: 1rem;
}

select {
    border: none;
    background: none;
    color: white;
    font-size: 1.3rem;

}

i {
    margin: 1.8rem 1rem;
    color: white;
}

.left {
    width: 33%;
    margin-top: 4rem;
}

.right {
    width: 66%;
    height: 90%;
    display: flex;
    align-self: center;

}

.nested-cont {
    margin-top: 4rem;
    width: 25%;
    height: 100%;


}

ul {
    list-style-type: none;
    line-height: 2.5rem;
    color: white;
    font-style: normal;
    font-size: 1.2rem;
}

ul li:first-child {
    color: #8ea1e1;
}

/* end of footer top */
/* footer bottom */
.foot_bottom {
    border-top: 1px solid #8ea1e1;
    width: 1300px;
    margin: auto;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.space-between {
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
}

.space-between .registrati {
    background-color: #8ea1e1;
    padding: 0.5rem 1rem;
    align-self: center;
    border-radius: 4rem;
    color: white;
}

/* end of footer bottom